@model IEnumerable<LendGames.Web.MvcApp.ViewModels.GameViewModel>
@using LendGames.Utils.Paging

@if (!Model.Any())
{
    <div class="panel panel-default">

        <div class="panel-body">
            <h4 class="text-center">Não há nenhum jogo cadastrado ainda :(</h4>
        </div>

    </div>
}
else
{
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="thumbnail">
                    <img style="height: 300px; width: 100%; display: block;" src="/Game/RenderCover/@game.Id" alt="@game.Title">
                    <div class="caption">
                        <h4>@game.Title</h4>        
                        @if (game.IsLended)
                        {
                            <p><span class="label label-danger">Emprestado Para @game.LendedFor</span></p>
                        }
                        else
                        {
                            <p><span class="label label-success">Disponível</span></p>
                        }
                        <p>
                            <a href="/Game/Edit/@game.Id" class="btn btn-sm btn-default" role="button">Editar</a> 
                            @if (!game.IsLended)
                            {
                                <a href="/Game/Remove/@game.Id" class="btn btn-sm btn-warning" role="button">Emprestar</a>
                            }
                            else
                            {
                                <a href="/Game/Remove/@game.Id" class="btn btn-sm btn-success" role="button">Devolver</a>
                            }
                            <a href="/Game/Remove/@game.Id" class="btn btn-sm btn-danger" role="button">Remover</a>
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
}

<br />