@model LendGames.Web.MvcApp.ViewModels.GameViewModel

@{
    ViewBag.Title = "Remover Jogo";
}
<div class="alert alert-warning">
    <strong>Atenção!</strong>
    <br />
    Você realmente deseja remover o jogo <strong>@Model.Title</strong>
</div>

<br />
<div class="panel panel-default">
    <div class="panel-body">
        <strong>
            @Html.DisplayNameFor(model => model.Title):
        </strong>
        @Html.DisplayFor(model => model.Title)
    </div>
</div>

<form id="GameForm" method="post">
    @Html.AntiForgeryToken()

    <div class="panel panel-default">
        <div class="panel-body">
            <button id="RemoveButton" type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-ok"></i> <span>Remover</span> <i class="fa fa-refresh fa-spin fa-fw hidden"></i></button>
            <a href="/Game" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> Voltar</a>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/Scripts/game/remove.js"></script>
}

