body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.loading-box {
    width: 130px;
    height: 130px;
    margin: 30px auto 30px;
    border-radius: 100%;
    background-size: cover;
    background-image: url('/Assets/Spinner.gif');
    background-position: center;
    border-radius: 15%;
}